<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Coverlet>
    <ExcludeByAttribute>System.Runtime.CompilerServices.CompilerGeneratedAttribute</ExcludeByAttribute>
    <ExcludeByAttribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
    <Exclude>[Loom.Testing]*</Exclude>
  </Coverlet>
</RunSettings>